<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PebblePoint Server</title>
    <style>
      body {font-family: sans-serif; line-height:2em;};
    </style>
  </head>
  <body>
    <div >
      <div class="jumbotron hidden-xs">
        <h1>PebblePoint Server</h1>
        <h3>
          Setting up PebblePoint
        </h3>

        <p>
          Make sure your Mac and your phone are on the same network.<br/>
          Enter these values into PebblePoint's preferences on your phone:</p>
        <p style="font-weight: bold; font-size:24px;">Server IP Address: <%= preferredIP %></p>
        <p style="font-weight: bold; font-size:24px;">Port: <%= port %></p>
      </div>
      <% if (otherIPs.length > 0 ) { %>
        <p>If that IP address doesn't work, try these alternates:</p>
        <ul>
          <% otherIPs.forEach(function(el, index) {%>
            <li>
              <%= el[1] %>
            </li>
          <%});%>
        </ul>
      <% }; %>
    </div>
  </body>
</html>
