extends layout

block content
  .container.theme-showcase(role="main")
    .jumbotron
      h1= title
      p Use #{title} to control your presentation
    .page-header
      h1 Controls
    .col-xs-6
      button.btn.btn-lg.btn-info(type="button") Prev
    .col-xs-6
      button.btn.btn-lg.btn-primary(type="button") Next

cows
