<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <title>PebblePoint Server</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1 class="row"><div class="col-md-5">PebblePoint Server</div><div class="col-md-4"><small class="alert">Running: <span class="alert-success glyphicon glyphicon-ok"></span></small></div></h1>
        <h1 class="row"><div class="col-md-5">Microsoft PowerPoint</div><div class="col-md-4"><small class="alert">Running: <% if (powerPointStatus =='true') {%>
          <span class="alert-success glyphicon glyphicon-ok"></span>
        <% } else { %>
          <span class="alert-danger glyphicon glyphicon-remove"></span>
        <% } %>
      </small></div></h1>
      </div>
      <h2>
        Configuring Your Pebble
      </h2>
      <ol class="lead">
        <li>Make sure your Mac and your phone are on the same network</li>
        <li>Install PebblePoint from Pebble app store</li>
        <li>In Pebble app on your phone, go to "My Pebble"</li>
        <li>Select "Settings" on the PebblePoint app</li>
        <li>Enter these values
          <dl>
            <dt>Server IP Address</dt><dd class="text-success"><%= preferredIP %></dd>
            <dt>Port</dt><dd class="text-success"><%= port %></dd>
            </dl>
        </li>
      </ol>

      <% if (otherIPs.length > 0 ) { %>
        <p>If server IP address doesn't work, try these alternates</p>
        <ul>
          <% otherIPs.forEach(function(el, index) {%>
            <li>
              <%= el[1] %>
            </li>
          <%});%>
        </ul>
      <% }; %>
    </div>
  </body>
</html>
